<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://pxmfile.oss-cn-hangzhou.aliyuncs.com/app_installation_package/natrualImgFile.ipa?Expires=1553245428&amp;OSSAccessKeyId=LTAIAYapyq1HCQKd&amp;Signature=cKA3%2FVALlVI9ClOEvVpdITQp53U%3D</string>
		<key>displayImageURL</key>
		<string>https://www.cbwl.com/image.57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://www.cbwl.com/image.512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>E38PGF5V34</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
